

.btn {
    background-color: pink;
    color: black;
    height: 40px;
    width: 200px;
    border: none;
    border-radius: 50px;
    cursor: pointer;

}

.box {
    height: 200px;
    width: 200px;
    border: 1px solid black;
    border-radius: 20px;
}